  <table id="purchase_orders">
    <thead>
      <tr>
        <th>PO#</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <% purchase_orders.each do |purchase_order| %>
        <tr id="<%=purchase_order.id%>">
          <td><%= purchase_order.po_id %></td>
          <td><%= purchase_order.po_date_short_format %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%=javascript_tag do %>

  purchase_order_table_click_listener();
  
  <% end %>