<% @item_sales.each do | item_sale_id |%>
  $('#item_sale_<%=item_sale_id%>').remove();
<% end %>

$('#app_msg').empty();
<% flash.each do |name, msg| %>
  $('#app_msg').append('<span><%=msg%></span>');
<% end %>

$('#sales_form_panel #summary .content').remove();
$('#sales_form_panel #summary').append("<%=j render 'sales/form_summary'%>");