<% if flash[:status]%>
  <div id="show_details_notifications" class="alert-box info">
    <%=flash[:status]%>
  </div>
  <% flash.discard(:status) %>
<% end %>

<% if flash[:error]%>
  <div id="show_details_notifications" class="alert-box alert">
    <%=flash[:error]%>
  </div>
  <% flash.discard(:error) %>
<% end %>