<%
  presenter = PurchaseOrderShowPresenter.new(purchase_order, self)
%>


<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">


    <section class="top-bar-section">
      <ul class="left">
        <li class="has-dropdown">
          <a href="#">Menu</a>
          <ul class="dropdown">
            <li><a href="#">Add/Edit Note</a></li>
            <li><a href="#">Additional Info</a></li>
            
          </ul>
        </li>
      </ul>

      <% if purchase_order %>

      <ul class="right">
        <li class="has-dropdown">
          <a id="actions_menu" href="#"></a>
          <ul class="dropdown">
            
            <%= presenter.render_menu "confirm" %>
            <%= presenter.render_menu "pending" %>



            <li><a href="#">Print</a></li>
          </ul>
        </li>
      </ul>

      <% end %>

    </section>
  </nav>
</div>
