/*
 *= require_tree .
 */

@import "constants";
body.sales {
	background-color: $body_color;
	color: $font_color;

	h1, h2, h3, h4, h5, h6 { color: $font_color; font-weight: bolder}
}

.highlight {
	font-weight: bolder;
	border-color: yellow;
	font-size: 104%;
}