$body_color: #1F1F1F;

$form_width: 900px;
$form_height: 700px;
$std_input_width: 400px;
$border_color: darkgrey;
$border-radius: 1px;

// Font
$mono_font: "Courier New", Courier, monospace;
$font_color: #00FF00;
$input_font_color: #000;

//Tables
$table_background_color: black;
$table_font_color: white;
$table_highlight_font_color: $font_color;