$body_color: #1F1F1F;

$form_width: 900px;
$form_height: 700px;
$std_input_width: 400px;
$border_color: darkgrey;
$border-radius: 1px;

// Font
$mono_font: "Courier New", Courier, monospace;
$font_color: green;
$input_font_color: #000;
