@import "constants";


.sales-frm {
  margin-left: 1%;
  width: $form_width;
  height: $form_height;
  padding: 10px 0px 10px 0px;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $input_font_color;
  text-shadow: 1px 1px 1px #FFF;
  
  // border: 1px solid $border_color;
  // border-radius: 5px;
  // -webkit-border-radius: $border-radius;
  // -moz-border-radius: $border-radius;

  background-color: white;
  table {
    table-layout: fixed;
    tr {
      height: 40px;
    }
    tr.footer {
      height: 30px;
    }
    td {
      font-family: $mono_font;
      padding: 7px;
    }
    td.qty {
      text-align: right;
      padding-right: 10px;
      input {
        width: 4em;
        margin-right: -5px;
        padding-right: 5px;
        text-align: right;
      }
    }
    input.ready_to_save {
      background-color: #A4DEB5;
    }
  }
} //END .sales-frm


.sales-frm input[type="text"], .sales-frm input[type="email"], .sales-frm textarea, .sales-frm select {
  border: 1px solid #CCC;
  color: $input_font_color;
  height: 30px;
  line-height: 15px;
  margin: 0;
  padding: 5px 0px 5px 5px;
  outline: 0 none;
  width: $std_input_width;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.sales-frm select {
  background: #FFF url("../images/down-arrow.png") no-repeat right;
  background: #FFF url("../images/down-arrow.png") no-repeat right;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  $form_width: 700px;
  width: $std_input_width;
  height: 35px;
  line-height: 15px;
}

.sales-frm textarea {
  height: 100px;
  padding: 5px 0px 0px 5px;
  $form_width: 700px;
  width: $std_input_width;
}

.sales-frm .button {
  background: #FFF;
  border: 1px solid #CCC;
  padding: 10px 25px 10px 25px;
  color: #333;
  border-radius: 4px;
}

.sales-frm .button:hover {
  color: #333;
  background-color: #EBEBEB;
  border-color: #ADADAD;
}

.sales-frm div.input {
  display: inline;
}




