//Sales Panels
//1. the form panel
//2. the panel for sales in progress

@import "constants";
@import "summary_and_controls";

$sales_right_panel: 200px;
$sales_list_panel_width: $sales_right_panel;
$sales_panel_height: $form_height;
$sales_right_panel_height: $form_height;

.sales_panels {
	width: ($form_width + $sales_list_panel_width) * 1.05;
	height: $sales_panel_height;
	margin-top: -10px;
}
#sales_form_panel {
	float: left;
	width: $form_width;
	height: $sales_panel_height;
}

#sales_list_panel, #sales_right_panel {
	position:fixed;
	left: $form_width * 1.05;
	width: $sales_list_panel_width;
	height: $sales_panel_height;
	
	padding-top: 1.5em;
	border-left: 1px darkgray solid;
	padding-left: 1.5em;

	//Gradient background
	//background-color: black;
}

#sales_right_panel {
	height: $sales_right_panel_height;
}