@import "constants";

$totals_font_size: 125%;
$controls_top_margin: 40px;
$controls_height: 70px;

#summary {
  .left {
    float: left;
  }
  .right {
    float: right;
    width: $form_width / 3;
  }
  label {
    float: left;
    width: 50%;
    text-align: right;
    font-weight: bold;
  }
  p {
    text-align: right;
    margin-right: 2em;
    margin-bottom: 1px;
  }
}

#controls  {
  
  margin-top: $controls_top_margin;
  height: $controls_height;

  a.pos_action {
    width: 170px;
  }

  div {
    margin-bottom: 5px;
  }
}