@import "constants";

$totals_font_size: 125%;
$controls_top_margin: 40px;
$controls_height: 70px;

#summary, #summary_vertical {
  label {
    cursor: auto;
    font-weight: bold;
  }

  p {
    font-size: 150%;
    color: white;
    font-weight: bold;
  }
}


#controls  {
  
  // margin-top: $controls_top_margin;
  // height: $controls_height;

  a.pos_action {
    width: 170px;
  }

  div {
    margin-bottom: 5px;
  }
}