<h2>Admin</h2>
<h3>Item Configuration</h3>
<ul>
  <li><%=link_to 'Attributes', attributes_path%></li>
  <li><%=link_to 'Categories', categories_path%></li>
  <li><%=link_to 'Units', units_path%></li>
</ul>