<tr id='add_item'>
  <td>
    <%=text_field_tag :item_name, [], 
        placeholder: "Start typing and profile names will appear...",  
        autofocus: true, 
        class: 'text'%>
    <%=hidden_field_tag :item_id%>
  </td>
  <td>
    <%=text_field_tag :item_qty, [], style: 'width: 4em'%>
  </td>
</tr>