<tr id="attrib_<%=attrib.id%>"class="attrib_row">
  <th><%=attrib.name%></th>
  <td>
    <%=text_field_tag "attrib[#{attrib.id}]", value%>
    <%=link_to delete_img, 
        "javascript:$('tr#attrib_#{attrib.id}').hide('fast',function(){ $(this).remove(); })",
        tabindex: "-1"
      %>
  </td>
</tr>

