@import 'purchase_order_constants';

#menu {
  margin: auto;
  border: none;
  width: 40px;
  background: $table_header_bg_color;

  .ui-menu-item, .ui-state-active, .ui-widget-content .ui-state-active, 
  .ui-widget-header .ui-state-active, .ui-state-focus {
  	border: none;	
  	background: none;
  	padding: none;
  	margin: none;
  	font-style: none;
  	font-size: 1em;
  	width: 100px;
  }


  .ui-menu-divider {

  }
 
}