//Style for turning a link into a POS button

.pos_action {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 20px;
    border: 1px solid #9e9e9e;
    border-radius: 3px;
    background: #dedede;
    background: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#ededed));
    background: -moz-linear-gradient(top, #dedede, #ededed);
    background: linear-gradient(to bottom, #dedede, #ededed);
    font: normal normal normal 14px arial;
    color: #545454;
    text-decoration: none;
}
.pos_action:hover,
.pos_action:focus {
    border: 1px solid #b6b6b6;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    color: #545454;
    text-decoration: none;
}
.pos_action:active {
    background: #858585;
    background: -webkit-gradient(linear, left top, left bottom, from(#858585), to(#ededed));
    background: -moz-linear-gradient(top, #858585, #ededed);
    background: linear-gradient(to bottom, #858585, #ededed);
}
