// Place all the styles related to the PurchaseOrders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation/components/block-grid";
@import "foundation/components/panels";


// table {
//   th.number { width: 1em; }
//   th.name   { width: 30em; }

//   th.five_em   { width: 5em; }
// }

.add_btn {
  background: #cfcfcf;
  background-image: -webkit-linear-gradient(top, #cfcfcf, #666666);
  background-image: -moz-linear-gradient(top, #cfcfcf, #666666);
  background-image: -ms-linear-gradient(top, #cfcfcf, #666666);
  background-image: -o-linear-gradient(top, #cfcfcf, #666666);
  background-image: linear-gradient(to bottom, #cfcfcf, #666666);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 30px 5px 30px;
  text-decoration: none;
  border-style: none;
}
#item_selector {

  .ui-spinner {
    height: 30px;
    padding: 0;
  }

  .ui-spinner-input {
    padding: 5px 5px 10px 5px;
    margin: 0;
  }
}


$po-block-grid-spacing: 1px;

table#purchase_orders, table#deliveries {

  margin-bottom: 0;
  
  tbody tr {
  cursor: pointer;
  }

  tr.new td.id:before {
    content: '* ';
  }
}

.po_date_filter {
  @include block-grid(
    $per-row: 2,
    $spacing: $po-block-grid-spacing,
    $base-style: true
  );
}

.po_filter {
  @include block-grid(
    $per-row: 1,
    $spacing: $po-block-grid-spacing,
    $base-style: true
  );
}

.po_filter_spacings {
  input, select {
    font-size: 95%;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

.po_panel {
  @include panel(
    $padding:7px
  );
}