<tr id="new">
	<td>
	<a id="close" href="#"><span class="ui-icon ui-icon-close">&nbsp;</span></a></td>
	<td>
		<%=text_field_tag :item_name, nil%>
		<%=hidden_field_tag :item_id, nil%>
	</td>
	<td class="qty"><%=text_field_tag :qty, nil%></td>
	<td class="price"><%=text_field_tag :item_price, nil%></td>
	<td>---</td>
</tr>